input{
    width: 60vw;
    height: 20vh;
    font-size: 10vh;
    padding-left: 16px;
    padding-right: 16px;

}

button{
    width: 30vw;
    height: 20vh;
    font-size: 10vh;
    padding: 0px;
    background-color: blueviolet;
}

/* body{
    background-image: url(images/aldebaran-s-uXchDIKs4qI-unsplash.jpg);
    background-size: cover;
} */



